<div id="<%= dom_id address %>">
  <p>
    <strong>Country:</strong>
    <%= address.country_label %>
  </p>

  <p>
    <strong>State:</strong>
    <%= address.state_label %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= address.details %>
  </p>

</div>
