<%= form_with(model: address, data: {controller: "form-refresh"}) do |form| %>
  <% if address.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= turbo_frame_tag :cs_select do %>  
  <div data-controller="form-element">
        <%= form.button "Validate", formaction: new_address_path, formmethod: :get, data: {form_element_target: "remoteBtn"}, turbo_frame: :cs_select  %>
        <div>
          <%= form.label :country, style: "display: block" %>
          <%= form.select :country, address.countries.invert, { include_blank: true }, { data: {action: "change->form-element#autosubmit"}} %>
        </div>

        <div>
          <%= form.label :state, style: "display: block" %>
          <%= form.select :state, address.states.invert, { include_blank: true }, { data: {action: "change->form-element#autosubmit"}}%>
        </div>

        <div>
          <%= form.label :city, style: "display: block" %>
          <%= form.select :city, address.cities %>
        </div>
    </div>
  <% end %>

  <div>
    <%= form.label :details, style: "display: block" %>
    <%= form.text_field :details %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
